@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital@1&display=swap');

body {
    background-color:#fff;
    font-family: lato;
    font-weight: 400;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    color: #00287A;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;

}

footer {
    color: #007aff;
    border-top: 1px solid;
    margin-top: 16px;
    padding: 16px 0;
    font-size: 20px;
}

header {
    margin-top: 16px;
    margin-bottom: 46px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    text-decoration: none;
    color: #7fff00;
    margin-right: 10px;
    font-size: 20px
}

input {
    border: 1px solid #007aff;
    padding: 8px;
}

button {
    cursor: pointer;
    border-color: transparent;
    padding: 8px;
    background-color: #007aff;
    color: #fff;
}

#icon {
    border-radius: 30px;   
}