@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital@1&display=swap');

body {
    background-color:rgb(0,32,97);
    font-family: lato;
    font-weight: 400;
    color: #fff;
}